.calendar {
    height: 518px;
    width: 700px;
    border-radius: 10px;
    background-color: #F3EEE9;
    padding: 20px;

}

.rbc-calendar {
    color: #545454;
}

/* .rbc-month-row,
.rbc-month-col,
.rbc-month-view,
.rbc-header,
.rbc-day-bg
 {
    border: 1px solid #DACCBE;
} */

.aggie-house-logo {
position: absolute;
top: 20px; 
left: 80px;
width: 80px;
height: 96px; 
}

.container {
  display: flex;
  height: 80vh;
}

/* App.css */

.container {
    display: flex;
    height: 80vh;
  }
  
  .left-column,
  .right-column {
    flex: 1;
  }
  
  .left-column {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .right-column {
    padding: 20px;
  }
  
  .announcement-form,
  .admin-message-form {
    margin-bottom: 20px;
  }
  
  .announcement-form {
    border-radius: 10px;
    background-color: #F3EEE9;
    padding: 20px;
  }
  
  .admin-message-form{
    border-radius: 10px;
    background-color: #F3EEE9;
    padding: 20px;
  }
  /* Add additional styling for your forms */
  